<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 表达式注入 -->
	<bean id="teacher" class="com.lywgames.bean.Teacher">
		<property name="id" value="#{901}"></property>
		<property name="name" value="#{'xiaocui'}"></property>
	</bean> 
	<bean id="clazz" class="com.lywgames.bean.Clazz">  
		<property name="teacher" value="#{teacher}"></property>
	</bean>
</beans>