<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="userDao" class="com.lywgames.dao.impl.UserDaoImpl"></bean>
	<bean id="aspectJAop" class="com.lywgames.aop.AspectJAop"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.lywgames.dao.impl.UserDaoImpl.insert(..))" id="pointinsert" />
		<aop:pointcut expression="execution(* com.lywgames.dao.impl.UserDaoImpl.select(..))" id="pointselect"/>
		<aop:pointcut expression="execution(* com.lywgames.dao.impl.UserDaoImpl.delete(..))" id="pointdelete"/>
		<aop:pointcut expression="execution(* com.lywgames.dao.impl.UserDaoImpl.update(..))" id="pointupdate"/>
		
		<aop:aspect ref="aspectJAop">
			<!-- 前置通知 -->
			<aop:before method="beforeInsertCheck" pointcut-ref="pointinsert" />
			<!-- 后置通知 -->
			<aop:after-returning method="afterdelete" pointcut-ref="pointdelete" returning="result"/>
			<!-- 环绕通知 -->
			<aop:around method="arround" pointcut-ref="pointselect"/>
			<!-- 异常通知 -->
			<aop:after-throwing method="updateException" pointcut-ref="pointupdate" throwing="ex" />
			<!-- 最终通知 -->
			<aop:after method="myFinally" pointcut-ref="pointupdate"/>
		</aop:aspect>
	</aop:config>

</beans>